#prod img {
      width: auto;
      height:30%;   

  }
 @media only screen and (max-width: 1024px){
    #tipos img {
      width: 100%;
      height: 20%;
  }
  #prop{
    display: none;
  }

    .card{
    margin-right:-10%; 
  }

  }

    #tipos img {
      width: 100%;
      height:20%;

  }
 .card{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    position: relative;
    border:none;

}

.card-body{
  margin: 0;
  padding: 0;
  text-align: center;

}
.card:hover {
  box-shadow: 16px 16px 100px 0 rgba(0,0,0,0.2);
}
#logos{
  border-radius:50px;
}

.item:hover{
  background-color:#ffc107;
  border-radius: 10px;
}


     /*******************Carrinho***********************/    
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 1024px) {
    table#cart tbody td .form-control{
    width:20%;
    display: inline !important;
  }
  .actions .btn{
    width:36%;
    margin:1.5em 0;
  }
  
  .actions .btn-info{
    float:left;
  }
  .actions .btn-danger{
    float:right;
  }
  
  table#cart thead { display: none; }
  table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
  table#cart tbody tr td:first-child { background: #333; color: #fff; }
  table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
  }
  
  
  
  table#cart tfoot td{display:block; }
  table#cart tfoot td .btn{display:block;}
  
}
/***************************************************/